<a href="https://colab.research.google.com/github/vrrasann/PythonFITA/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[1,2,34,5]
print(sum(a))
print(len(a))
print(type(a))
print(max(a))
print(min(a))

42
4
<class 'list'>
34
1

In [ ]:
n=abs(-3)
print(n)

3

In [ ]:
n=bool(3)
print(n)

True

In [ ]:
b=ord('n')
print(b)

110

In [ ]:
n=ascii('$')
print(n)

'$'

In [ ]:
d=bin(3)
print(d)

0b11

In [ ]:
e=oct(10)
print(e)

0o12

In [ ]:
f=hex(20)
print(f)

0x14

In [ ]:
t=(1,2,3)
t1=(4,5,6)
t2=zip(t,t1)
print(dict(t2))

{1: 4, 2: 5, 3: 6}

In [ ]:
a=40
def add():


    global a
    a=55 #local Scope
    b=10
    print(a+b)

In [ ]:
add()

65

In [ ]:
print(a)

55

In [ ]:
def sub(a,b):
    # definition
    c=a>b
    print(c)

In [ ]:
sub(8,0)

True

In [ ]:
def mul(a=5,b=7): #default value
    print(a*b)

In [ ]:
mul()
mul(3,9)

35
27

In [ ]:
powe=lambda a,b,c:a**b+c
print(powe(5,4,0))

625

In [ ]:
def check_odd_even(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

user_input = int(input("Enter a number: "))

result = check_odd_even(user_input)
print(f"The number {user_input} is {result}.")

IndentationError: ignored

In [ ]:
def is_leap_year(year):
    if (year % 4 == 0 ):
        return True
    else:
        return False

# Input: Get a year from the user
user_input = int(input("Enter a year: "))

# Call the function and print the result
if is_leap_year(user_input):
    print(f"{user_input} is a Leap Year.")
else:
    print(f"{user_input} is not a Leap Year.")

Enter a year: 24
24 is a Leap Year.

In [ ]:
def find_largest(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3

# Input: Get three numbers from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Call the function and print the result
largest_number = find_largest(num1, num2, num3)
print(f"The largest number among {num1}, {num2}, and {num3} is {largest_number}.")

In [ ]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

# Input: Get a number from the user
user_input = int(input("Enter a number: "))

# Call the function and print the result
if is_prime(user_input):
    print(f"{user_input} is a Prime Number.")
else:
    print(f"{user_input} is not a Prime Number.")

Enter a number: 13
13 is a Prime Number.

In [ ]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

def print_primes_in_interval(start, end):
    print(f"Prime numbers between {start} and {end}:")
    for num in range(start, end + 1):
        if is_prime(num):
            print(num)

# Input: Get interval from the user
start_num = int(input("Enter the start of the interval: "))
end_num = int(input("Enter the end of the interval: "))

# Call the function to print prime numbers in the interval
print_primes_in_interval(start_num, end_num)

Enter the start of the interval: 2
Enter the end of the interval: 99
Prime numbers between 2 and 99:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Input: Get a number from the user
user_input = int(input("Enter a number: "))

# Call the function and print the result
if user_input < 0:
    print("Factorial is not defined for negative numbers.")
else:
    result = factorial(user_input)
    print(f"The factorial of {user_input} is {result}.")

Enter a number: -23
Factorial is not defined for negative numbers.

In [ ]:
def multiplication_table(number, n):
    print(f"Multiplication Table for {number} up to {n}:")
    for i in range(1, n + 1):
        result = number * i
        print(f"{number} x {i} = {result}")

# Input: Get a number from the user
user_input = int(input("Enter a number for the multiplication table: "))
table_up_to = int(input("Enter how many multiples to display: "))

# Call the function to display the multiplication table
multiplication_table(user_input, table_up_to)

Enter a number for the multiplication table: 3
Enter how many multiples to display: 5
Multiplication Table for 3 up to 5:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

In [ ]:
def fibonacci_sequence(n):
    fib_sequence = []
    a, b = 0, 1
    for _ in range(n):
        fib_sequence.append(a)
        a, b = b, a + b
    return fib_sequence

# Input: Get the number of terms from the user
num_terms = int(input("Enter the number of terms for the Fibonacci sequence: "))

# Call the function to get and print the Fibonacci sequence
fib_sequence_result = fibonacci_sequence(num_terms)
print(f"Fibonacci sequence up to {num_terms} terms: {fib_sequence_result}")

Enter the number of terms for the Fibonacci sequence: 54
Fibonacci sequence up to 54 terms: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173]