<a href="https://colab.research.google.com/github/vrrasann/PythonFITA/blob/main/set01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thisset = {"apple", "banana", "apple","apple"}
print(thisset)
len(thisset)

{'banana', 'apple'}

2

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [ ]:
print(type(thisset))

<class 'set'>

In [ ]:
set1 = {"a", "d" , "e"}
set2 = {1, 2,'a'}

set3 = set1.union(set2)
print(set3)
print(set1)
print(set2)

{1, 2, 'a', 'd', 'e'}
{'a', 'd', 'e'}
{1, 2, 'a'}

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {4, 6, 8}

set1.update(set2)
print(set1)
print(set2)

{'a', 'c', 4, 6, 8, 'b'}
{8, 4, 6}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z=x.intersection(y)

print(z)

{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z=x.difference(y)

print(z)

{'cherry', 'banana'}

In [ ]:
num_set = set([0, 1, 2, 3, 4, 5])
print("Original set elements:")
print(num_set)
print("\nRemove 0 from the said set:")
num_set.discard(2)
print(num_set)

Original set elements:
{0, 1, 2, 3, 4, 5}

Remove 0 from the said set:
{0, 1, 3, 4, 5}

In [ ]:
d={'b':'bat','c':'fat','d':'f'}
f=sorted(d.keys())
d

{'b': 'bat', 'c': 'fat', 'd': 'f'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("pomegrante")

print(thisset)

{'cherry', 'pomegrante', 'banana', 'apple'}

In [ ]:
thisset = {'cherry', 'pomegrante', 'banana', 'apple'}

thisset.remove("banana")

print(thisset)

{'cherry', 'pomegrante', 'apple'}